/* styles.css */
.app-container {
    background-color: #f3f4f6; /* bg-gray-100 */
    min-height: 100vh; /* min-h-screen */
  }

  /* styles.css */
.full-screen-red {
  height: 100vh;      /* h-screen */
  width: 100%;        /* w-full */
  background-color:powderblue; /* bg-red-400 */
  align-items: flex-end;
}